.Navbar {
    background-color: yellowgreen;
    font-family: italic;
    font-size: large;
    border: solid 2px;
    width: 99.5%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

a {
    margin-top: auto;
}

.boton {
    color: blue;
    background-color: rgb(199, 250, 199);
}

.pestaña {
   margin: auto;
}